<form action="/Parcels" method="post">
  <h1>Submit information about your parcel.</h1>
  <br>
  <br>
  <br>
  <br>
  <label for="height">Height (in inches)</label>
  <input id="height" name="height" type="number">
  <br>
  <br>
  <br>
  <br>
  <label for="width">Width (in inches)</label>
  <input id="width" name="width" type="number">
  <br>
  <br>
  <br>
  <br>
  <label for="length">Length (in inches)</label>
  <input id="length" name="length" type="number">
  <br>
  <br>
  <br>
  <br>
  <label for="weight">Weight (in Lbs)</label>
  <input id="weight" name="weight" type="number">
  <br>
  <br>
  <br>
  <br>
  <button type="submit">Submit</button>
</form>